#editorHeadings {
	float: right;
}
#allowComments_label {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	padding-right: 20px;
	border-right: 1px solid #D3D3D3;
}
.input-editor {
	width: 200px !important;
}
#editorHeadings .input-editor {
	margin-left: 10px;
}
#editorTextarea textarea {
	background: #F8F8F8;
	/* font-family: monospace, Georgia; */
}
.centerForm {
	text-align: center;
}
.centerForm form {
	display: inline-block;
}
.centerForm form > * {
	display: block;
}

#protectChecks {
	text-align: left;
}
#protectChecks .check-label {
	display: block;
}

#editorHeadings > .checkbox {
	display: inline-block;
}

.CodeMirror {
	height: 500px;
	/* font-family: 'Roboto', monospace !important; */
}

.editor_desc_box {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #FCFCFC;
	border: 1px solid #AFAFE0;
	line-height: 24px;
}
.adviselabel {
	margin-bottom: 20px;
	line-height: 1.5;
}
.adviselabel .fw li {
	margin-top: 10px;
}
.input-label {
	margin: 20px 0 10px;
}