# Environment
.env

# Docker
compose.*.yml
compose.*.yaml
compose-*.yml
compose-*.yaml

# Database
/data/**

# Node.js and npm
/src/node_modules/

# rpWiki configuration files
/src/.htaccess
/src/Config.php

# rpWiki private files
secret
deprecated
/src/custom/*
!/src/custom/usericon.png
!/src/custom/dark.css
!/src/custom/particles.json

# rpWiki debugging files
/src/pages/private_*.php
