body {
    margin: 0;
    padding: 0;
    /* background: #FCFCFC url('images/background.png'); */
    background: #FCFCFC;
    background-image: linear-gradient(#EEEEEE 0%, #FFFFFF 40%, #EEEEEE 70%, #CCCCCC 100%);
    background-attachment: fixed;
    border-color: #EAEAEA;
    font-family: Arial, sans-serif;
    cursor: default;
    overflow-x: hidden;
}


/* a {
	color: #3333CC;
	text-decoration: none;
}
a:hover { color: #3333FF; }
a:active { color: #3333FF; } */


/* hr {
	height: 1px;
	border: 0;
	background: #D3D3D3;
} */

form,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

input[type="text"],
input[type="password"] {
    border-width: 1px;
    border-style: solid;
    letter-spacing: .5px;
}

a button {
    color: #454545;
}

textarea {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}

.icon,
#header .toggleNav .toggle {
    background-image: url('images/icons.png');
}

header#header {
    height: 50px;
    width: 100%;
    background: white;
    /* border-bottom: 4px solid #4588CC; */
    /* border-bottom: 1px solid #DADADA; */
    box-shadow: 0 0 15px 5px #B7B7B7;
    position: fixed;
    top: 0;
    z-index: 9;
}

header#header:after {
    content: " ";
    height: 3px;
    width: 100%;
    background-image: linear-gradient(45deg, #0bf6e5 0%, #3564a1 100%);
    display: block;
    top: 50px;
    position: fixed;
}

header#header > * {
    float: left;
}

#header .separator {
    height: 30px;
    width: 1px;
    margin: 10px 15px;
    background: #E0E0E0;
    /* #EAEAEA; */
    float: left;
}

#header .separator.small {
    height: 20px;
    margin: 15px;
}

#header .header-button {
    cursor: pointer;
}

#header .header-button:hover {
    background: #F6F6F8;
}

#header .header-button.toggleNav {
    display: inline-block;
}

#header .toggleNav .toggle {
    height: 20px;
    width: 36px;
    margin: 15px 30px;
    background-size: 58px 92px;
}

#header .separator.s_tn-l {
    margin-left: 0;
}

#header_colordots {
    height: 50px;
    width: auto;
}

#header_right {
    height: 50px;
    float: right !important;
}

header#header #userLinks {
    height: 100%;
    /* margin-top: -50px; */
    line-height: 50px;
    float: right;
}

header#header #userLinks a {
    color: #A8B6C2;
    font-size: 16px;
    float: left;
}

header#header #userLinks a:hover {
    color: #BBCDDD;
}

.loggedout {
    margin-right: 30px;
    display: inline-block;
}

.loggedin,
.loggedin a {
    display: inline-block;
}

#userLinks .loggedin .symbol.open {
    height: 6px;
    width: 12px;
    background: url('images/icons/toggleuserpanel.png') no-repeat;
    background-size: 100%;
    margin: 20px 0 20px -24px;
    float: left;
    transition: .2s;
}

#userLinks .loggedin .symbol.open.rotate {
    transform: rotate(-180deg);
}

#userIconHeader {
    height: 42px;
    width: 42px;
    margin: 4px 30px 4px 42px;
    /* margin: 4px 30px; */
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    border-radius: 36px;
    float: left;
}

#userIconHeader a.fullsize {
    border-radius: 36px;
}

#userIconHeader img {
    display: none;
}

#msgCounter {
    height: 20px;
    width: 30px;
    margin: 12.5px 0 12.5px -36px;
    background-position: -50px -10px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    float: left;
}

#msgCounter:hover {
    background-position: -50px -30px;
}

#msgCounter a {
    color: #555555 !important;
    display: none;
}

#msgCounter:hover a {
    display: block !important;
}

#msgCounter div[title="over"] {
    display: inline-block;
}

#userNameHeader a[href="messages.php"] {
    display: none;
}

#userNameHeader {
    margin-left: 10px;
    float: left;
}

#logoutLink,
#registerLink {
    margin-right: 30px;
    margin-top: 15px;
    line-height: 16px;
    display: inline-block;
}

.s_s-ul {
    margin-right: 0;
}

#search {
    height: 40px;
    width: 100%;
    /**/
    margin-left: -18px;
    /* margin-left: calc(100% - 300px); */
    margin-bottom: 10px;
    display: inline-block;
}

#search #searchForm input {
    height: 30px;
    width: 214px;
    padding: 2px 5px 0;
    background: transparent;
    border: 2px solid #1980ab;
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 16px;
    cursor: pointer;
    transition: .2s;
    display: inline-block;
}

#search #searchForm input:focus {
    background-color: #2b526b;
}

#search #searchForm #search-submit {
    height: 20px;
    width: 20px;
    background: url('images/icons/glass.png');
    background-size: 100% 100%;
    border: 0;
    opacity: .7;
    /* float: right; */
    cursor: pointer;
    z-index: 2;
    /* position: absolute;
	margin: 8px -30px; */
    /* position: relative;
	margin: 8px -30px;
	right: 77px; */
    /* position: absolute; */
    margin: 8px -24px 0 -34px;
}

nav#NavigationPanel {
    height: 100%;
    width: 300px;
    transform: translateX(-302px);
    top: 0;
    padding-top: 80.5px;
    float: left;
    background-color: #353C48;
    background-image: linear-gradient(#353C48 0%, #2B3445 40%, #252E3E 70%, #000 100%);
    border-right: 2px solid #EAEAEA;
    transition: .3s;
    position: fixed;
    z-index: 6;
    display: block;
}

nav#NavigationPanel.shown {
    transform: translateX(0);
}

#NavigationContent {
    text-align: center;
}

#NavigationContent h1 {
    width: 214px;
    margin-top: 30px;
    padding: 0 10px;
    color: #FFFFFF;
    text-align: left;
    display: inline-block;
}

.navSelector {
	width: 234px;
	margin: 10px auto 20px;
	border-bottom: 2px solid #5076c2;
	border-radius: 8px;
	box-shadow: 0 0 14px #000000;
}

.navSelector__label:after {
    height: 6px;
    width: 11px;
    content: " ";
    background-image: url('images/expand.png');
    background-repeat: no-repeat;
    display: block;
    float: right;
    position: relative;
    top: 13px;
    right: 10px;
    transition: .15s;
    opacity: .6;
}

.navSelector:hover .navSelector__label:after {
    transform: rotate( -180deg);
}

.navSelector__list {
    display: none;
}

.navSelector:hover .navSelector__list {
    display: block;
}

.navSelector__list a,
.navSelector__list a:hover,
.navSelector__list a:active {
    color: inherit;
}

.navSelector__option,
.navSelector__label {
    height: inherit;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px solid #7f7f7f;
    font-weight: bold;
    line-height: 2;
    cursor: pointer;
}

.navSelector__label {
	border-bottom: 0;
	border-radius: 8px;
    /* transition: .2s; */
}

.navSelector:hover .navSelector__label {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    color: #555555;
}

.navSelector__option:hover {
    background-color: rgba(230, 230, 230, .5);
}

.navSelector__list a:first-of-type .navSelector__option,
.navSelector__list > .navSelector__option:first-of-type {
    border-top: 1px solid #7f7f7f;
}

.navSelector__list a:last-of-type .navSelector__option,
.navSelector__list > .navSelector__option:last-of-type {
    border-bottom: 0;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#navBtns {
    margin: 0 25.5px;
    display: inline-block;
}

#navBtns .center-elements {
    margin: 0 auto;
    display: block;
}

#navBtns a {
    float: left;
}

.nav.panel .nav-buttons .button {
    height: 90px;
    width: 90px;
    margin: 10px;
    padding: 5px;
    background-color: transparent;
    background-image: url('images/NavIcons.png');
    background-repeat: no-repeat;
    background-position: center 0;
    /* border: 2px solid #358993; */
    border-radius: 10px;
    color: #DBDBDB;
    text-align: center;
    line-height: 160px;
    cursor: pointer;
    float: left;
    transition: .1s;
}

#navBtns .b-log:hover {
    border-color: #800F22;
}

#navBtns .b-userlist {
    background-position: 10px -100px;
}

#navBtns .b-userlist:hover {
    border-color: #3E708C;
}

#navBtns .b-news {
    background-position: 10px -200px;
}

#navBtns .b-news:hover {
    border-color: #2BA882;
}

#navBtns .b-editor {
    background-position: 10px -300px;
}

#navBtns .b-editor:hover {
    border-color: #f2ac20;
}

#navBtns .button:hover {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 16px #1a2b3e;
}

#UserPanel {
    width: 400px;
    /* margin-top: -320px; */
    margin-top: -70px;
    background: #FCFCFC;
    border-left: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    border-bottom-left-radius: 4px;
    /* filter: drop-shadow(0px 0 5px #EAEAEA); */
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    transition: .2s;
}

#UserPanel.shown {
    margin-top: 53px;
    opacity: 1;
    z-index: 7;
}

#UserPanel a {
    display: none;
}

#UserPanel.shown a {
    display: block;
}

#UserPanel .userLinks ul {
    padding: 0;
    list-style-type: none;
}

#UserPanel .userLinks ul li {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 2px solid #D3D3D3;
    list-style-type: none;
}

#UserPanel .userLinks ul li:hover {
    background: #F6F6F8;
}

#UserPanel .userLinks ul li:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 4px;
}

#UserPanel .userLinks ul li a {
    padding-left: 20px;
    color: #AFAFAF;
}

header.header#globalNotifHeader {
    height: auto;
    width: 100%;
    margin-top: 53px;
    margin-bottom: -54px;
    padding: 10px;
    background: #EAEAFF;
    color: #666666;
    text-align: center;
    line-height: 22px;
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 5;
}

header.header#globalNotifHeader div,
header.header#globalNotifHeader span {
    width: calc(100% - 40px);
    display: block;
    float: left;
}

header.header#globalNotifHeader a {
    color: #6684FF;
    transition: .5s;
}

header.header#globalNotifHeader a:hover {
    color: #666DFF;
}

header.header#globalNotifHeader.important {
    background: #FFE0E0;
    border-bottom: 1px solid #EE8888;
    color: #EE0000;
}

header.header#globalNotifHeader.important a {
    color: #EE0000;
    text-decoration: underline;
}

header.header#globalNotifHeader #notifClose {
    height: 20px;
    width: 20px;
    margin: 1px 0 0 -2px;
    background: url('images/icons/notifClose.png');
    opacity: .2;
    position: relative;
    float: left;
    cursor: pointer;
}

div.maincontent {
    padding-top: 94px;
}

.content,
#main,
#footer {
    background: white;
}

#main {
    min-height: 800px;
    /* ******************************************************************* */
    max-width: 1200px;
    width: calc(100% - 38px);
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #E0E0E0;
    /* #EAEAEA; */
    color: #454545;
}

.main.notif {
    max-width: 1200px;
    width: calc(100% - 38px);
    margin-bottom: 10px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    font-size: 120%;
    color: #454545;
}

.main.notif.important,
.main.notif.mark1 {
    border: 1px solid #E8C5C5;
    color: darkred;
}

.main.notif a {
    color: #2C2CAA;
}

.main.notif a:hover {
    color: #2C2CDD;
}

#pageheader .pagetitle {
    font-size: 28px;
    line-height: 36px;
}

h1.pagetitle .small {
    font-size: 18px;
    line-height: 0;
}

h1.pagetitle .editlink {
    height: 20px;
    width: 20px;
    /* margin-top: 10px; */
    background: url('images/icons/editpensmall.png') no-repeat;
    background-size: 100%;
    display: inline-block;
}

h1.pagetitle .editlink small {
    display: none;
}

h1.pagetitle .historylink {
    height: 20px;
    width: 20px;
    /* margin-top: 10px; */
    background: url('images/icons/historysmall.png') no-repeat;
    background-size: 100%;
    display: inline-block;
}

h1.pagetitle .historylink small {
    display: none;
}

h1.pagetitle .historybacklink {
    height: 20px;
    width: 20px;
    /* margin-top: 10px; */
    background: url('images/icons/backsmall.png') no-repeat;
    background-size: 100%;
    display: inline-block;
}

h1.pagetitle .historybacklink small {
    display: none;
}

#pagecontent {
    width: 100%;
    padding: 20px 0 0 0;
    border-top: 1px solid #D8D8D8;
    /* #EAEAEA; */
    text-align: left;
    display: inline-block;
    line-height: 1.5 !important;
    /* 22px !important; */
}

#pagecontent.noheader {
    padding: 0;
    border: 0;
}

#pagecontent.text {
    font-size: 17.8px;
}

#commentsectionheader {
    margin-top: 40px;
    margin-bottom: 10px;
    /* padding: 5px 0 0 0; */
    /* border-top: 1px solid #D3D3D3; */
    clear: both;
}

#commentsectionheader .sectiontitle {
    border-bottom: 1px solid #EAEAEA;
}

footer#footer.copyright-footer {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #A7A7A7;
    font-size: 14px;
    color: #7B7B7B;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer#footer.copyright-footer a {
    color: #0A4884;
}


/* Browsers */

#NavigationContent {
    height: calc(100% - 100px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

nav#NavigationPanel {
    overflow-x: hidden;
}