/* Main */
body { overflow-x: hidden; }

#header .separator.s_s-ul { display: none; }

nav#NavigationPanel {
	width: 100% !important;
	margin: 0 !important;
	border: 0 !important;
	transform: translate3d(-100%, 0, 0) !important;
	transition: .2s;
}
nav#NavigationPanel.shown {
	transform: translate3d(0, 0, 0) !important;
}

#userIconHeader a.fullsize { display: none !important; }

#UserPanel {
	width: 100% !important;
	border-radius: 0 !important;
}

.header#globalNotifHeader {
	padding: 5px !important;
	text-align: left !important;
}

.maincontent {
	padding: 0 !important;
	margin-top: 104px !important;
}

#main {
	min-height: 200px !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	border-bottom: 2px solid #EAEAEA !important;
	box-shadow: 0 0 10px #CCCCCC !important;
}

#pageheader .pagetitle {
	font-size: 32px !important;
	padding: 10px 28px;
	text-align: left;
}

#pagecontent {
	width: calc(100% - 20px) !important;
	padding: 20px 10px 40px !important;
}

footer#footer.copyright-footer {
	border: 0 !important;
}

/* User */
#userpageUsericon {
	height: 150px !important;
	width: 150px !important;
	margin: 0 auto !important;
	border-radius: 100%;
	float: inherit !important;
}
#userpageHeader {
	height: unset !important;
	width: 100% !important;
	margin-top: 20px;
	margin-right: -10px;
	padding: 10px !important;
}
#usernameHeader {
	padding: 8px 0 0;
	background: #FFFFFF;
	text-align: center;
}
#usernameUserrights { display: inline-block; }
#userAbout {
	border: 0;
	display: inline-block;
}
#userpageNav {
	background: #FFFFFF !important;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
#userpageNav, #userpageNav ul { display: inline-block; }
#userpageNav ul {
	width: 200%; /* all list items in one line */
	margin-bottom: -15px;
}
#userpageNav li {
	margin: 0 10px 0 0;
	padding: 0px 10px;
	border: 0 !important;
	border-radius: 14px;
}

/* Elements */
input, textarea, button, select {
	border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
}
input[type="text"], input[type="password"] {
	height: 34px;
	width: calc(100% - 14px);
	-webkit-appearance: none;
}
textarea.big-textarea {
	min-width: calc(100% - 14px);
	max-width: calc(100% - 14px);
	padding: 4px 6px;
	-webkit-appearance: none;
}
input[type="submit"], input[type="button"], button {
	padding: 20px 24px;
	transition: 0s;
	font-size: 110%;
	-webkit-appearance: none;
}

select.big-select {
	height: 40px;
	width: 100%;
}

div.checkbox { padding-bottom: 10px; }
div.checkbox-list > div.checkbox:last-of-type { padding-bottom: 0 !important; }
label.check-label div {
	height: 30px;
	width: 30px;
	top: 10px;
}

/* PAGES */
/* editor.php */
#editorHeadings #allowComments_label {
	border-right: 0;
}
#editorHeadings .input-editor {
	height: 24px;
	width: calc(100% - 14px) !important;
	margin: 10px 0 0 !important;
}
/* user.php */
#userlistList .list-row .userlist-rights {
	width: 0;
	padding-left: 20px;
	float: none;
	display: inline-block;
}
.edituserpage { display: none; }