/* CSS for site.php */
#page_Details_Options {
	width: calc(100% - 2px);
	margin: -10px 0 20px;
	padding: 5px 0;
	background-color: #FCFCFC;
	border: 1px solid #DDDDDD;
	text-align: center;
	line-height: 100%;
	display: inline-block;
}
#page_DetailsBox {
	width: calc(100% - 22px);
	margin: 0 0 20px;
	padding: 10px;
	background-color: #FCFCFC;
	border: 1px solid #E0AFAF;
	line-height: 24px;
	display: inline-block;
}
#page_Details_Options a {
	margin: 0 10px;
	font-size: 12px;
}

h1.pagetitle .small {
	font-size: 18px;
	line-height: 0;
}
#page_Details_Options .details-text {
	height: 100%;
	padding: 0 10px;
	line-height: 22px;
	float: left;
	position: absolute;
}
h1.pagetitle .title-button {
	height: 20px;
	width: 20px;
	margin: 0 0 0 10px;
	background-image: url('../img/action-sprites.png');
	/* background-size: 100%; */
	background-repeat: no-repeat;
	display: inline-block;
}
h1.pagetitle .title-button small { display: none !important; }
#tb_edit { background-position: 0 0; }
#tb_versionindex { background-position: 0 -40px; }
#tb_back { background-position: 0 -20px; }
#tb_protect { background-position: 0 -60px; }
#tb_hide { background-position: 0 -80px; }
#tb_rename { background-position: 0 -100px; }

#tb_edit:hover { background-position: -20px 0; }
#tb_versionindex:hover { background-position: -20px -40px; }
#tb_back:hover { background-position: -20px -20px; }
#tb_protect:hover { background-position: -20px -60px; }
#tb_hide:hover { background-position: -20px -80px; }
#tb_rename:hover { background-position: -20px -100px; }
/*
#tb_versionindex { background-image: url('../img/editpensmall.png'); }
#tb_versionindex { background-image: url('../img/historysmall.png'); }
#tb_back { background-image: url('../img/backsmall.png'); }

#tb_edit:hover { background-image: url('../img/editpensmall-blue.png'); }
#tb_versionindex:hover { background-image: url('../img/historysmall-blue.png'); }
#tb_back:hover { background-image: url('../img/backsmall-blue.png'); }
*/

/* CSS for pages on page.php */
span.button {
	padding: 5px 10px;
	border: 1px solid #BBBBBB;
	color: #BBBBBB;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
span.button:hover {
	background: #BBBBBB;
	color: white;
}
div.navbtn {
	padding: 10px 20px;
	background: #E2E2E2;
	transform: skew(-20deg);
	display: inline-block;
}
div.navbtn:hover {
	background: #ECECEC;
}
div.navbtn div {
	transform: skew(20deg);
}

.focus {
  height: 220px;
  width: 380px;
  margin: 10px;
  background-image: url('../../custom/pages/home/focus2.png');
  float: left;
  transition: .1s;
}
.focus, .focus a { border-radius: 6px; }
.focus.coming-soon a {
  background: rgba(100, 100, 100, 0.6);
  line-height: 220px;
  text-align: center;
  color: white;
  font-size: 30px;
  cursor: no-drop;
}
.focus:hover { margin-top: 0; }
.focus.coming-soon:hover { margin-top: 10px; }
.focus:first-of-type { background-image: url('../../custom/pages/home/focus1.png'); }
.focus:last-of-type { background-image: url('../../custom/pages/home/focus3.png'); }

@media (max-width: 720px) {
  .focus {
    width: calc(100% - 20px);
    background-size: 100%;
  }
  .focus:hover {
    margin-top: 10px;
  }
}

/*************************** SWITCH LANGUAGE ***************************/
.introtext { display: none; }
.lang.select {
  margin-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
}
.lang.select div {
  padding: 0px 10px 0px 5px;
  border-right: 1px solid #EAEAEA;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}
.lang.content.en { display: block; }
.lang.content { display: none; }
.lang.content.en { display: block; }