.err-notif {
	color: darkred;
	display: block;
}
.success-notif {
	color: darkgreen;
}
#skin {
	display: inline-block;
}
.pref-previewarea {
	float: right;
}
.pref-preview {
	margin-right: 20px;
	margin-bottom: 20px;
	background: #D8D8D8;
	border: 4px solid #D8D8D8;
	float: left;
}
.pref-previewarea > .pref-preview:last-of-type {
	margin: 0;
}
.pref-preview img {
	display: block;
}
.pref-preview .img-label {
	padding: 4px 4px 0;
	display: block;
}