#userpageUsericon {
	height: 200px;
	width: 200px;
	margin-right: 10px;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	float: left;
}
#userpageHeader {
	height: 190px;
	width: calc(100% - 220px);
	padding: 5px;
	background: #F6F6F6;
	float: right;
	white-space: nowrap;
	overflow: hidden;
}
#usernameHeader { border-bottom: 1px solid #D3D3D3; }
#usernameUserrights { height: 30px; }
#userpageHeader h1 {
	margin-top: -2px;
	font-size: 25px;
	display: inline-block;
	float: left;

	line-height: initial;
}
#usernameHeader #userrights {
	margin-left: 20px;
	float: left;
}
#usernameHeader #userrights div {
	height: 20px;
	margin-top: .5px;
	margin-right: 10px;
	padding: 2px 10px;
	background-color: #D8D8D8; /* #E6E6E6 */
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
#usernameHeader #userrights div:last-of-type { margin-right: 0px; }
#userAbout {
	padding-top: 10px;
	display: inline-block;
}
.about-left {
	width: 210px;
	float: left;
}
#userRightsEditLink {
	margin-top: 10px;
	float: right;
	display: inline-block;
}
#userRightsEditLink a {
	color: #D3D3D3;
	font-size: 12px;
}
#userRightsEditLink a:hover { color: #CACACA; }
#userRightsEditLink a.userBlockLink { margin-left: 15px; }
#userpageNav {
	height: 40px;
	width: 100%;
	background: #F2F2F2;
}
#userpageNav li {
	height: 40px;
	padding: 0 10px;
	background: #EAEAEA;
	border-right: 1px solid #D3D3D3;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
#userpageNav li:hover { background: #E4E4E4; }
.edituserpage {
	margin-right: 10px;
	line-height: 40px;
	float: right;
}
#edituserpagesh {
	height: 30px;
	width: 30px;
	margin-top: 5px;
	background-size: 100%;
}
#profileEditLinks {
	margin-top: 5px;
	padding: 5px;
	background: #F2F2F2;
}
#userpageBlogList { margin-top: 10px; }
#userpageBlogList a,
#userpageBlogList a:hover {
	color: #AAAAAA;
	text-decoration: none !important;
}
#userpageBlogList a .blog-list b { color: #666666; }
#userpageBlogList a .blog-list {
	margin-top: -1px;
	padding: 2px 5px;
	background: #F6F6F6;
	border-bottom: 1px solid #D3D3D3;
}
#userpageBlogList .blog-list:hover { background: #EDEDED; }
#userpageBlogList a .blog-list:first-child { border-top: 1px solid #D3D3D3; }

.pageList .list-row { display: inline-block; }
.pageList .list-row a { float: left; }
.pageList .list-row .userlist-rights {
	height: calc(100% - 4px);
	width: 200px;
	margin-top: 2.5px;
	padding-left: 5px;
	border-left: 1px solid #DDDDDD;
	font-size: 14px;
	line-height: initial !important;
	float: right;
}