@import url('default-elements.css');

/* CLASSES */

span.bold, span.b { font-weight: bold; }
span.italic, span.i { font-style: italic; }

.bw { word-wrap: break-word; }
.bwa { word-break: break-all; }

.top0 { margin-top: 0 !important; }
.top10 { margin-top: 10px !important; }
.top20 { margin-top: 20px !important; }
.top30 { margin-top: 30px !important; }
.top40 { margin-top: 40px !important; }
.top50 { margin-top: 50px !important; }
.btm0 { margin-bottom: 0 !important; }
.btm10 { margin-bottom: 10px !important; }
.btm20 { margin-bottom: 20px !important; }
.btm30 { margin-bottom: 30px !important; }

.nolist { list-style-type: none; }
.nolist li { margin: 0; }
.li-left li { float: left; }

.font-inherit {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.nolist { list-style-type: none; }
.nolist li { margin: 0; }
.li-left li { float: left; }

.font-inherit {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}
.font-size-unset { font-size: unset; }

span.important-notice { color: darkred; }
span.small-notice { font-size: 12px; }
span.uppercase { text-transform: uppercase; }

.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }

a {
    color: #2222D1;
    text-decoration: none;
}
/* a:hover, a:active {
	color: #3333FF;
} */
#pagecontent a.editlink { color: #BA0F24; }
/* #pagecontent a.editlink:hover {
    color: #D8031D;
} */
a.fullsize {
    height: 100%;
    width: 100%;
    display: block;
}
#pagecontent a:not(.fullsize):hover { text-decoration: underline; }

hr {
    height: 1px;
    border: 0px;
    background: #D3D3D3;
}

.showHide {
    background: url('default-images/toggle-visibility.png') no-repeat;
    cursor: pointer;
}

.sectiontitle {
    margin: 20px 0 10px;
    border-bottom: 1px solid #EEEEEE;
    font-weight: bold;
}
h3.sectiontitle { font-size: 20px; }

.pagesubtitle {
    margin: 5px 0 5px 0;
    margin: 0px 0 5px 0;
    padding-top: 5px;
    border-top: 1px solid #D8D8D8;
    color: #D3D3D3;
    font-size: 14px;
    text-align: left;
}
.pagesubtitle span a { color: #A0A0A0; }

.invisible-break {
    width: 100%;
    display: block;
}

/* Lists */

.list-item {
    padding: 2px 5px;
    border-bottom: 1px solid #EFEFEF;
}
.list-item:first-child { border-top: 1px solid #EFEFEF; }

/* Error messages */

.template-exception {
    color: brown;
}
.template-exception > span {
    font-weight: bold;
}

/* PAGES */

/* Editor */

.editingnotice { color: darkred; }

footer#footer {
    /* position: fixed !important; */
    -webkit-backdrop-filter: blur(10px);
}