@import 'http://ruvenproductions.bplaced.net/css?href=Mobile.css';
@import 'http://fonts.googleapis.com/css?family=Roboto+Condensed:300';

/* COMMENT FONT */
input[type="text"].cInput { font-family: Roboto Condensed !important; }
textarea.cTextarea, textarea.rTextarea { font-family: Roboto Condensed !important; }

/* COMMENT USER COLOR */
.comment[data-writer-group="comment"] { background: #D0E8FF; } .comment[data-writer-group="comment"] .commentarrow { border-color: transparent #D0E8FF #D0E8FF transparent; } .comment[data-writer-group="comment"] .commenttitle { border-bottom: 1px solid #B2D8FF; }

#commentsectionheader h2 .num {
    font-size: 14px !important;
}

#writecommentarea span.actiontitle {
    margin-left: 5px;
    font-size: 18px;
}
#writecommentarea #writecomment {
    max-width: 600px;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 30px;
    background: #E0EEFF;
    border-radius: 4px;
}
#writecommentarea #writecomment input[type="text"].cInput {
    width: calc(100% - 11px);
    padding: 2.5px 5px;
    background: white;
    border: none;
    border-radius: 2px;
    font-family: monospace, Arial, sans-serif;
}
#writecommentarea #writecomment input[type="text"].cInput.cTitle.clicked {
    height: 24px;
    font-size: 16px;
    font-weight: lighter !important;
}
#writecommentarea #writecomment input[type="text"].cInput.cTitle.alreadyclicked {
    font-weight: bold;
}
#writecommentarea #writecomment textarea.cTextarea.cContent {
    height: 40px;
    min-height: 40px;
    max-height: 200px;
    width: calc(100% - 13px);
    min-width: calc(100% - 11px);
    max-width: calc(100% - 11px);
    margin-top: 5px;
    padding: 2.5px 5px;
    border: none;
    border-radius: 2px;
    font-family: monospace, Arial, sans-serif;
}
#writecommentarea #writecomment textarea.cTextarea.cContent.clicked {
    min-height: 150px;
}
#writecommentarea #writecomment input[type="submit"].cSubmit {
    height: 22px;
    margin-top: 2px;
    margin-right: 2px;
    padding: 0px 2.5px;
    background: #BADAFF;
    border: 1px solid #8EC5FF;
    border-radius: 2px;
    line-height: 20px;
    float: right;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}
#writecommentarea #writecomment input[type="submit"].cSubmit:hover {
    background: #CAE5FF;
}
input[type="submit"].bluesubmit {
    height: 22px;
    padding: 0px 2.5px;
    background: #BADAFF;
    border: 1px solid #8EC5FF;
    border-radius: 2px;
    line-height: 0px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}
input[type="submit"].bluesubmit:hover {
    background: #CAE5FF;
}
#commentsarea {
    width: 100%;
    display: inline-block;
}

.commentfield {
    padding-top: 20px;
    clear: both;
}
.commentfield:first-of-type {
    padding-top: 0px;
}
.commentfield.hidden-comment, .reply.hidden-comment {
    opacity: .2;
    transition: .2s;
}
.commentfield.hidden-comment:hover, .reply.hidden-comment:hover {
    opacity: 1;
}
#newcomment {
    display: none;
}
.commentavatar {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    float: left;
}
.commenttime {
    margin-top: 100px;
    font-size: 10px;
    float: left;
    position: absolute;
    display: none;
}
.comment {
    min-height: 150px;
    width: calc(100% - 110px);
    background: #E0EEFF;
    float: right;
}
.commentarrow {
    height: 1px;
    width: 1px;
    margin-left: -25px;
    margin-top: 10px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #E0EEFF #E0EEFF transparent;
}
.commentcontent {
    min-height: 73px;
    padding: 5px;
}
.commenttitle {
    margin-top: -40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border-bottom: 1px solid #BADAFF;
}
.commentcontent .commentcontent {
    margin-top: 2.5px;
}
.commenteditor {
    display: none;
}
.commentedit {
    padding: 0px 10px;
    padding-top: 2.5px;
}
.commentedit .commentreply {
    display: inline-block;
}
.commentedit .commentreply span.activateReplyEditor.replylink {
    /*height: 22px;
        margin-bottom: 5px;
    padding: 0px 5px;
        background: #BADAFF;
        border: 1px solid #8EC5FF;
        border-radius: 2px;
        line-height: 22px;
    display: inline-block;
        cursor: pointer;
        transition: .5s;*/
    margin-top: -2px;
    font-weight: bold;
}
.commentedit .commentreply span.activateReplyEditor.replylink:hover {
    /*background: #CAE5FF;*/
}
.replyeditor .commenteditlink { margin-top: -25px !important; }
.replyeditor .deactivateCommentEditor { font-size: 12px; }
.commenteditor .commenteditform {
    margin-top: -40px;
    margin-left: 1px;
}
.commenteditor .commenteditform .cTitle {
    height: 20px;
    width: calc(100% - 11px);
    padding: 5px 5px 2.5px 5px;
    background: white !important;
    border: none;
    font-size: 18px;
    font-family: monospace, Arial, sans-serif;
}
.commenteditor .commenteditform .cContent {
    min-height: 68px;
    max-height: 200px;
    min-width: calc(100% - 11px);
    max-width: calc(100% - 11px);
    margin-top: 5px;
    padding: 5px;
    border: none;
    font-family: monospace, Arial, sans-serif;
}
.commenteditor .commenteditform .cSubmit {
    height: 22px;
    margin-top: 5px;
    padding: 2.5px 2.5px 0px 2.5px;
    background: #BADAFF;
    border: 1px solid #8EC5FF;
    border-radius: 2px;
    line-height: 0px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}
.commenteditor .commenteditform .cSubmit:hover {
    background: #CAE5FF;
}
.commenteditor .commenteditlink {
    margin-top: -20px;
    margin-right: 5px;
}

.commenteditor.replyeditor .commenteditform .cContent {
    min-height: 50px;
    height: 50px;
    max-height: 100px;
    padding: 4px;
    min-width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    margin-top: 40px;
    margin-left: 10px;
    border: 1px solid #E0EEFF;
}
.commenteditor.replyeditor .commenteditform .rSubmit {
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    margin-left: 65px;
}

.commenteditlink {
    /*margin-top: 2px;*/
    float: right;
    clear: both;
}
.commenteditlink .editlink {
    font-style: italic;
}
/* */
.commentdeletelink {
    float: right;
}
.commentdeletelink form input[type="submit"] {
    display: none;
}
.editlink.deletelink {
    margin-right: 16px;
    font-style: italic;
}
.commentdeletelink form:first-of-type {
    margin-right: -8px;
}

.replyfield {
    padding-top: 10px;
    clear: both;
}
.writereply {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    background: #E0EEFF;
    float: right;
    display: none;
    position: relative;
    z-index: 1.5;
}
.writereply .rContent {
    min-width: calc(100% - 12px);
    max-width: calc(100% - 12px);
    min-height: 50px;
    max-height: 120px;
    margin-left: 1px;
    padding: 5px;
    border: 0px;
}
.writereply .rSubmit {
    margin-top: 5px;
}

.replyfield .commentreplies {
    clear: both;
}
.commentreplies small.replynumber {
    margin-top: -5px;
    float: right;
}
.commentreplies .replyfieldborder {
    width: calc(100% - 110px);
    margin-top: 2.5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid #D0E8FF;
    float: right;
}
.commentreplies .replyfieldborder .replyfieldarrow {
    height: 10px;
    width: 20px;
    margin-top: -15px;
    margin-right: 80px;
    background: url('../img/arrows/reply_arrow_whitebg.png') no-repeat;
    float: right;
}
.commentreplies .reply {
    margin-bottom: 10px;
    width: calc(100% - 110px);
    float: right;
    clear: both;
}
.commentreplies .reply .replyavatar {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    float: left;
}
.commentreplies .reply .replyavatar img {
    display: none;
}
.commentreplies .reply .replycontent {
    min-height: 50px;
    width: calc(100% - 80px);
    padding: 5px;
    background: #E0EEFF;
    float: right;
}
.replyeditdeletelinks {
    display: none;
}