#editorHeadings {
    float: right;
}
#allowComments_label {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #D3D3D3;
}
.input-editor {
    width: 200px !important;
}
#editorTextarea textarea {
    background: #F8F8F8;
    /* font-family: monospace, Georgia; */
}