/* INPUT */
input, button {
    height: 22px;
    margin: 0;
    background: #FCFCFC;
    border-radius: 4px;
    font-size: 18px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input[type="text"], input[type="password"] {
    padding: 4px 6px;
    line-height: 18px;
}
input.fi, input.wi {
    width: 60%;
    max-width: 300px;
}
input[type="submit"], button {
    padding: 15px 18px;
    background: #EFEFEF;
    border: none;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
    transition: .2s;
}
input[type="submit"]:hover, button:hover {
    background: #E6E6E6;
}

/* TEXTAREA */
textarea.big-textarea {
    min-height: 100px;
    max-height: 1000px;
    min-width: 300px;
    max-width: calc(100% - 12.5px);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
	font-family: Roboto Condensed, Arial;
    color: inherit;
    font-size: inherit;
    letter-spacing: .5px;
}
textarea.big-textarea[name="notice"], textarea.big-textarea[name="reason"] {
    max-height: 200px;
}
textarea.big-textarea.Arial {
    font-family: inherit;
}
textarea.full-textarea {
    min-height: 500px;
    min-width: calc(100% - 12.5px);
    width: calc(100% - 12.5px);
}
textarea.bg1-textarea {
    background: #F8F8F8;
}
textarea.message {
    min-height: 100px;
    max-height: 150px;
    min-width: 500px;
    max-width: 80%;
}

/* SELECT */
select.big-select {
    height: 30px;
        width: 212px;
    padding: 2px 5px;
    -webkit-appearance: none;
        -moz-appearance: none;
        background: url('../../../img/input/select_arrow.png') no-repeat right;
        border: 1px solid #D3D3D3;
        transition: .2s;
}
select.big-select:focus {
        background-color: #FAFAFC;
}
select.big-select option {
        width: 122px;
        padding: 2px 20px;
}
select.big-select option[selected=""] {
        color: red;
}
select.big-select option.set {
        color: #EC6248;
        font-weight: bold;
}