/*   PageForm   */
.pageForm {
    padding: 10px;
    background: #F6F6F6;
    border-bottom: 1px solid #CCCCCC;
}
.pageForm input[type="submit"], .pageForm button {
    background: #E2E2E2;
    margin-bottom: 10px;
}
.pageForm input[type="submit"]:hover, .pageForm button:hover {
    background: #D8D8D8;
    margin-bottom: 10px;
}
.pageForm .results-text {
    width: calc(100% + 10px);
    margin-left: -10px;
    padding: 10px 0px 0px 10px;
    border-top: 1px solid #CCCCCC;
    font-size: 18px;
    display: block;
}
.pageForm .seperator {
	height: 28px;
	width: 1px;
	margin: -10px 10px -8px;
	background: #CCCCCC;
	display: inline-block;
}

/*   USERPAGE   */
#userpageHeader,
#userpageNav li {
	font-size: initial;
}

/* LOGIN / REGISTER */
.input-login {
	width: 260px;
}