#userpageUsericon {
    height: 200px;
	width: 200px;
	margin-right: 10px;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	float: left;
}
#userpageHeader {
    height: 190px;
    width: calc(100% - 220px);
    padding: 5px;
    background: #F6F6F6;
	float: right;
	overflow: hidden;
}
#usernameUserrights {
    height: 30px;
}
#userpageHeader h1 {
    margin-top: -2px;
    font-size: 25px;
	display: inline-block;
	float: left;
}
#usernameHeader #userrights {
    margin-left: 20px;
	float: left;
}
#usernameHeader #userrights div {
    height: 20px;
	margin-top: .5px;
    margin-right: 10px;
	padding: 2px 10px;
    background: none repeat scroll 0% 0% #E6E6E6;
    border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
    line-height: 20px;
	float: left;
}
#usernameHeader #userrights div:last-of-type {
	margin-right: 0px;
}
#userAbout {
    padding-top: 10px;
}
.about-left {
    width: 210px;
	float: left;
}
#userRightsEditLink {
    margin-top: 10px;
    float: right;
	display: inline-block;
}
#userRightsEditLink a {
    color: #D3D3D3;
	font-size: 12px;
}
#userRightsEditLink a:hover {
    color: #CACACA;
}
#userRightsEditLink a.userBlockLink {
    margin-left: 15px;
}
#userpageNav {
    height: 40px;
    width: 100%;
    background: #F2F2F2;
}
#userpageNav li {
    height: 40px;
    padding: 0px 5px;
    background: #EAEAEA;
	border-right: 1px solid #D3D3D3;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
#userpageNav li:hover {
    background: #E4E4E4;
}
.edituserpage {
    margin-right: 10px;
	line-height: 40px;
    float: right;
}
#edituserpagesh {
    height: 30px;
	width: 30px;
	margin-top: 5px;
	background-size: 100%;
}
#profileEditLinks {
	margin-top: 5px;
	padding: 5px;
    background: #F2F2F2;
}
#userpageBlogList {
    margin-top: 10px;
}
#userpageBlogList a {
    color: #AAAAAA;
}
#userpageBlogList a .blog-list b {
    color: #666666;
}
#userpageBlogList a .blog-list {
    margin-top: -1px;
    padding: 2px 5px;
    background: #F6F6F6;
	border-bottom: 1px solid #D3D3D3;
}
#userpageBlogList a .blog-list:first-child {
	border-top: 1px solid #D3D3D3;
}

.sysop.notice {
    color: red;
}

.userright-allrights, .userright-staff { color: darkred; }
.userright-helper { color: #2D45C6; }
.userright-admin, .userright-sysop { color: green; }
.userright-rightsuser { color: orange; }
.userright-deleteuser { color: darkorange; }
.userright-dbdelete, .userright-delete { color: orangered; }
.userright-hideuser { /*color: turquoise;*/ color: cadetblue; }
.userright-editor, .userright-trusted { color: #82B6E8; } /* lightblue */
.userright-blocked { color: grey; }

.userlist-rights .userright-allrights, .userlist-rights .userright-staff { font-weight: bold; }

#searchuser {
    padding: 10px;
	background: #F6F6F6;
	border-bottom: 1px solid #CCCCCC;
}
#userlistList {
	min-height: 50px;
    padding: 10px 5px 5px 5px;
    background: #F8F8F8;
}
#userlistList .list-row {
    width: 100%;
	padding: 2px 0px;
	border-bottom: 1px solid #DDDDDD;
}
#userlistList .list-row:last-of-type {
    padding: 2px 0px 0px 0px;
	border-bottom: none;
}
#userlistList .list-row .userlist-rights {
    height: calc(100% - 4px);
    width: 200px;
	margin-top: 2.5px;
	padding-left: 5px;
	border-left: 1px solid #DDDDDD;
	font-size: 14px;
	line-height: 14px;
    float: right;
}